.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px;
  margin-bottom: 10px;
  width: 100%;

  border-radius: 10px;
}

.listItem_blue {
  background-color: #2b95aa;
}

.listItem_green {
  background-color: #29a052;
}

.listItem_orange {
  background-color: #a76928;
}

.listItem__iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listItem__icon {
  display: block;
  margin: 0 5px;
  cursor: pointer;
}
